.container {
    text-align: center;

    h1 {
        font-family: 'Anton', sans-serif;
        margin: 50px 20px;
        font-size: 120px;
    }
    .tittle {
        background: #000;
        padding: 50px 320px;

        p {
            font-family: 'Kanit', sans-serif;
            text-align: center;
            font-size: 30px;
            color: #ffff;
        }
    }
}
@media screen and (max-width: 1200px) {
    .container {
        .tittle {
            padding: 50px 100px;
        }
    }
}

@media screen and (max-width: 992px) {
    .container {
        h1 {
            font-size: 100px;
        }
    }
}
@media screen and (max-width: 768px) {
    .container {
        h1 {
            font-size: 80px;
        }
        .tittle {
            padding: 50px 50px;
        }
    }
}
@media screen and (max-width: 576px) {
    .container {
        h1 {
            font-size: 50px;
        }
    }
}
