.cards {
    display: flex;
    display: grid;
    max-width: 1120px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    padding: 70px;
}
@media screen and (max-width: 1200px) {
    .cards {
        padding: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
@media screen and (max-width: 992px) {
    .cards {
        padding: 50px;
    }
}
@media screen and (max-width: 768px) {
    .cards {
        padding: 50px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}
