.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #e5e5e5;
    height: 128px;

    .nav-row-left {
        width: 20%;
        padding: 10px 90px;
        border-right: 2px solid #e5e5e5;
    }

    .nav-row-center {
        .nav-list {
            display: flex;
            align-items: center;
            padding: 0px 0.5vw;

            .nav-list__item {
                padding: 0 20px 0 20px;
            }
            .nav-list__link {
                color: #000;
                &:hover {
                    font-size: 22px;
                    font-weight: 700;
                    width: 300px;
                    height: 150px;
                    margin: 20px auto;
                    transition: 500ms ease-in-out;
                }
            }

            .nav-list__link--active {
                font-weight: 700;
            }
        }
    }

    .nav-row-right {
        display: flex;
        align-items: center;

        .search {
            width: 300px;
            vertical-align: middle;
            white-space: nowrap;
            position: relative;
            margin-right: 50px;
            font-family: 'Anton', sans-serif;
        }
        .search input#search {
            width: 300px;
            height: 50px;
            background: #e5e5e5;
            border: none;
            font-size: 10pt;
            float: left;
            color: #000;
            padding-left: 45px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;

            -webkit-transition: all 0.55s ease;
            -moz-transition: all 0.55s ease;
            -ms-transition: all 0.55s ease;
            -o-transition: all 0.55s ease;
            transition: all 0.55s ease;
        }

        .search input#search::-webkit-input-placeholder {
            color: #65737e;
        }
        .search input#search:-moz-placeholder {
            /* Firefox 18- */
            color: #65737e;
        }
        .search input#search::-moz-placeholder {
            /* Firefox 19+ */
            color: #65737e;
        }
        .search input#search:-ms-input-placeholder {
            color: #65737e;
        }

        .search .icon {
            position: absolute;
            top: -15%;
            left: -2%;
            margin-left: 17px;
            margin-top: 17px;
            z-index: 2;
            color: #4f5b66;
        }

        /* ANIMATION EFFECTS */
        .search input#search:focus,
        .search input#search:active {
            outline: none;
            background: #f3f3f3;
        }

        .login {
            margin-right: 50px;
        }
        .basket {
            margin-right: 50px;
        }

        .icon-navbar {
            margin-right: 50px;
        }
        svg {
            max-width: 30px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .nav {
        .nav-row-left {
            width: 200px;
            padding: 10px 50px;
        }
        .nav-row-center {
            display: none;
        }
    }
}
@media screen and (max-width: 992px) {
    .icon-navbar {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .search {
        display: none;
    }
}
@media screen and (max-width: 576px) {
}
