.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #e5e5e5;
    height: 128px;

    .nav-row-left {
        width: 20%;
        padding: 10px 90px;
        border-right: 2px solid #e5e5e5;
    }

    .nav-row-center {
        .nav-list {
            display: flex;
            align-items: center;
            padding: 0px 0.5vw;

            .nav-list__item {
                padding: 0 20px 0 20px;
            }
            .nav-list__link {
                color: #000;
                &:hover {
                    font-size: 22px;
                    font-weight: 700;
                    width: 300px;
                    height: 150px;
                    margin: 20px auto;
                    transition: 500ms ease-in-out;
                }
            }

            .nav-list__link--active {
                font-weight: 700;
            }
        }
    }

    .nav-row-right {
        display: flex;
        align-items: center;

        .login {
            margin-right: 50px;
        }
        .basket {
            margin-right: 50px;
        }

        .icon-navbar {
            margin-right: 50px;
        }
        svg {
            max-width: 30px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .nav {
        .nav-row-left {
            width: 200px;
            padding: 10px 50px;
        }
        .nav-row-center {
            display: none;
        }
    }
}
@media screen and (max-width: 992px) {
    .icon-navbar {
        display: none;
    }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
}
