// Пагинация
@mixin breakpoint($value) {
    @if $value == 'phone' {
        @media only screen and (min-width: 120px) and (max-width: 767px) {
            @content;
        }
    } @else if $value == 'tablet' {
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
            @content;
        }
    } @else if $value == 'touch' {
        @media only screen and (min-width: 120px) and (max-width: 1024px) {
            @content;
        }
    } @else if $value == 'desktop' {
        @media only screen and (min-width: 1025px) {
            @content;
        }
    } @else {
        @media only screen and (max-width: $value) {
            @content;
        }
    }
}
.pagination-wrapper {
    text-align: center;
    margin: 40px 0;
}

.pagination {
    display: inline-block;
    height: 70px;
    margin-top: 70px;
    padding: 0 25px;
    border-radius: 20px;
    background-color: #eee;

    @include breakpoint(1199px) {
        height: 50px;
        margin-top: 50px;
        padding: 0 10px;
        border-radius: 10px;
    }
}

.page-numbers {
    display: block;
    padding: 0 25px;
    float: left;
    transition: 400ms ease;
    color: #000;
    font-size: 20px;
    letter-spacing: 0.1em;
    line-height: 70px;

    &:hover,
    &.current {
        background-color: #000000c1;
        color: #fff;
    }

    &.prev:hover,
    &.next:hover {
        background-color: transparent;
        color: #7d7d7d;
    }

    @include breakpoint(1199px) {
        padding: 0 15px;
        font-size: 16px;
        line-height: 50px;
    }

    @include breakpoint(touch) {
        padding: 0 14px;
        display: none;

        &:nth-of-type(2) {
            position: relative;
            padding-right: 50px;

            &::after {
                content: '...';
                position: absolute;
                font-size: 25px;
                top: 0;
                left: 45px;
            }
        }

        &:nth-child(-n + 3),
        &:nth-last-child(-n + 3) {
            display: block;
        }

        &:nth-last-child(-n + 4) {
            padding-right: 14px;

            &::after {
                content: none;
            }
        }
    }
}
