:root {
    $black: #000;
    $gray: #4c4c4c;
    $dark-gray: #7d7d7d;
    $secondary-gray: #a6a6a6;
    $light-gray: #e5e5e5;
    $white: #fff;
    $red: #ff3f40;
    $dark-shadow: rgba(38, 38, 38, 0.427);
    $dark-shadow: rgba(210, 210, 210, 0.5);
}
